h1 {
	text-align : center;
	font-family : cursive;
	background-color : HSL(233, 70%, 17%);
	color : white;
}

html {
	background-color : HSL(198, 53%, 66%);
}

form {
	background-color : HSL(251, 24%, 57%);
}

p, label, .pseudo {
	font-family : cursive;
}